.float-on-hover {
	transform: perspective(1px) translateZ(0);
	-webkit-transform: perspective(1px) translateZ(0);
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	transition-property: transform;
	-webkit-transition-property: transform;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
}

.float-on-hover:hover,
.float-on-hover:focus,
.float-on-hover:active {
	transform: translateY(-20px);
}
